<div class="container-fluid">
  <div class="row" *ngIf="librosSeleccionados.libros">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Libros Seleccionados (total {{librosSeleccionados.libros.length}})</span>
          <ul>
            <li *ngFor="let libro of librosSeleccionados.libros">
              <div *ngIf="libro.seleccionado">
  
                <a [routerLink]="['/detalles', libro.id]" class="linkLibro">
                  <span>{{libro.nombre}}</span>
                </a>
                <i class="material-icons" (click)="removerLibro(libro)">remove_circle_outline</i>
  
              </div>
            </li>
          </ul>
        </div>
        <!-- <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
  </div>
</div>