<div class="progress" *ngIf="!LibrosService.libros">
  <div class="indeterminate"></div>
</div>

<div class="container" [@routerTransition]>
  <!-- <div class="container" [@routerTransition] (focus)="mostrar=true" (blur)="mostrar=false"> -->
  <div class="row">
    <div class="col s8">
      <input [(ngModel)]="filtro" placeholder="Búsqueda...">
    </div>
    <div class="col s4">
      <button class="btn waves-effect waves-light" (click)="LibrosService.cargarLibros()">Recargar
        <i class="material-icons right">autorenew</i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <div class="switch">
        <label>
          Ocultar
          <input type="checkbox" [(ngModel)]="mostrar" name="mostrar">
          <span class="lever"></span>
          Mostrar
        </label>
      </div>
    </div>
    <div class="col s8">{{mostrar}}</div>
  </div>

  <div class="row" [hidden]="!mostrar">
    <div class="col s12">
      <ul class="collection" *ngIf="LibrosService.libros">
        <li class="collection-item" *ngFor="let libro of LibrosService.libros | filtroLibros : filtro" (click)="mostrarActivo(miItem, libro)"
          #miItem [ngClass]="{'active' : libro.seleccionado}">
          <div>{{libro.nombre}}
            <a [routerLink]="['/detalles', libro.id]" class="secondary-content">
              <i class="material-icons">send</i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
