.active{
    padding: 20px;
    transition: 0.5s all;
    background-color: #8c26a6 !important;
}

.collection-item{
    cursor: context-menu;
}

.collection-item:hover{
    background: rgba(4, 139, 4, 0.425);
    transition: 0.5s all;
    padding-left: 35px;
    color: white;
}

li[data-seleccionado=true]:not(.active){
    background: #0000002b;
}